
.calculator-container {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 200px auto;
}

.display {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 75px;
    margin: 25px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    height: 350px;
}

.first-col>*, .second-col>*, .third-col>*, .fourth-col>* {
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    font-size: 40px;
}

.first-col, .second-col, .third-col, .fourth-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
}

.fourth-col>.equal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 115px;
}