body {
    margin: 0px;
    font-family: "Open Sans", Helvetica, sans-serif;
}

header, footer {
    background-color: #454545;
    text-align: center;
    color: white;
    padding: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 25px;
    font-size: 20px;
}

img {
    width: 25px;
}

h1 {
    margin: 0px;
}

.calculator-container {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #454545;
    color: white;
    box-shadow: 10px 10px 5px lightgray;
}

.display-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 75px;
    margin: 25px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.display-container>* {
    margin-right: 10px;
    font-size: 24px;
} 

.display-container>.display-value {
    font-size: 20px;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 25px;
    height: 350px;
}

.first-col>*, .second-col>*, .third-col>*, .fourth-col>* {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 35px;
    flex-grow: 1;
}

.first-col, .second-col, .third-col, .fourth-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;   
    flex-basis: 75px;
    flex-shrink: 1;
}

.fourth-col>.equal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    background-color: rgb(255, 102, 0);
}

.addition, .subtract, .multiply, .divide {
    background-color: rgb(255, 102, 0);
}

.clear-entry, .clear, .negative, .decimal {
    background-color: rgb(255, 102, 0);
}